{% extends "bootstrap_5_layout.html" %}
{% set active_page = "fx_dashboard" %}

{% block content %}

    <h2>FX Dashboard ({{ exchangeRate }})</h2>

    <p class="lead">Latest Close: {{ latest_close }} (as of {{ latest_date }})</p>

    <div id="chart-container" height="700px"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">

        console.log("FX DASHBOARD...")

        // use data from the router!
        var fromCurrencySymbol = '{{ fromCurrencySymbol }}'
        var toCurrencySymbol = '{{ toCurrencySymbol}}'
        var combinedTimeFrame = '{{ combinedTimeFrame}}'
        //var stockData = JSON.parse('{{ data }}')
        //var stockData = '{{ data }}'
        var fxData = JSON.parse('{{data | tojson}}') // https://stackoverflow.com/a/45132694/670433
        console.log(fxData)

        //var tsd = stockData["Time Series (Daily)"]
        //var dates = Object.keys(tsd)
        //var dailyPrices = Object.values(tsd)
        var dates = fxData.map(obj => obj["timestamp"])
        var closing = fxData.map(obj => obj["close"])

        // visualize the data
        // see: https://plotly.com/javascript/line-charts/
        var series = {
            x: dates,
            y: closing,
            mode: "lines+markers"
        }
        var data = [series]
        var layout = {
            title: "Exchange Rates: " + fromCurrencySymbol,
            height: 600,
            yaxis: {
                tickformat: '$' // https://plotly.com/javascript/tick-formatting/
            }
        }
        Plotly.newPlot("chart-container", data, layout, {responsive: true})

    </script>

{% endblock %}