{% extends "bootstrap_5_layout.html" %}
{% set active_page = "fx_form" %}

{% block content %}

    <h2>FX Calculator Form</h2>

    <p>Enter the currencies you would like to convert from and convert to:</p>

    <form action="/fx/dashboard" method="POST">

        <label>FX From Currency Symbol:</label>
        <input type="text" name="symbol" placeholder="USD" value="USD">
        <br>

        <label>FX To Currency Symbol:</label>
        <input type="text" name="symbol" placeholder="EUR" value="EUR">
        <br>

        <label>FX From Currency Amount:</label>
        <input type="text" name="symbol" placeholder="100" value="100">
        <br>

        <button class="btn btn-success">Submit</button>
    </form>

{% endblock %}