<!DOCTYPE html>
<html lang="en">
<head>
  <title>FX Tools</title>
</head>
<body>

  <!-- SITE NAVIGATION -->
  <div class="container">
    <nav>
      <h1><a href="/">FX Tools</a></h1>
      <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/fx_calculate/form">FX Calculator</a></li>
          <li><a href="/fx_report/form">FX Report</a></li>
      </ul>
    </nav>
    <hr>

    <!-- PAGE CONTENTS -->
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer>
      <hr>
      &copy; Copyright 2022 AustinChew |
      <a href="https://github.com/Ahc81/fx-finalproject.git">Source</a>
    </footer>
  </div>

</body>
</html>